/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {
  font-family: bradhitc;
  src: url(../fonts/BRADHITC.TTF);
}

body {
  padding-bottom: 40px;
  background-color: rgba(42, 25, 3, 0.61);
  width: 100%;
}

.title{
  font-family: bradhitc;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  border: 3px solid rgba(222, 203, 172, 0.67);
  border-radius: 15px;
  padding: 10px;
  width: 18%;
  margin-left: 8%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*.navbar-inverse{
  width: 100%;
  background-color: inherit;
}*/
.nav-title{
  width: 90%;
  background-color: rgba(42, 25, 3, 0.91);
  margin-left: 5%;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.navbar-wrapper {
  /*background-color: rgba(227, 207, 137, 0.85);*/
  margin-left: 20%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.container{
  width: 70%;
  background-color: rgba(227, 207, 137, 0.35);
  padding: 0;
  /*border-radius: 30px;*/
}

.navbar-inverse{
  margin-top: 20px;
  background-color: inherit;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  border-radius: 30px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


#navbar > ul > li{
  padding-left: 30px;
}

#navbar > ul > li > a{
  font-family: bradhitc;
  font-weight: bold;
  font-size: 30px;
  color: white !important;
}

.dropdown-menu{

  background-color: rgb(233, 236, 215);
  margin-left: 13%;
}

.dropdown-menu > li > a{
  font-family: bradhitc;
  font-weight: bold;
  font-size: 23px;
  color: rgb(23, 37, 8);
}

.job{
  font-family: bradhitc;
  color: black;
}
.job-title{
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  text-align: center;

}

.skill{
  font-weight: bold;
  margin-left: 25%;
}
/*==============table============*/
.table{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.15rem;
  width: 50%;
  background-color: rgba(13, 23, 17, 0.82);
  color: white;
  margin: 0 auto 50px auto;
}
th{
  text-align: center;
  width: 35%;
}

footer{
  position: relative;
	top: 50px;

}

.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 18px Arial;
  letter-spacing: 0.1em;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  white;
	font-size: 20px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  white;
	font-size: 16px;
	margin: 0;
}

/* If you don't want the footer to be responsive, remove these media queries */


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
